<form>
  <h1>New Post</h1>
  Title
  <input name="text" id="text" />
  <br>
  Text
  <textarea name="text" id="text" cols="30" rows="10"></textarea>
  <br>
  <input type="submit" value="Create post" id="create" name="create" />
</form>
